{{#link-to 'request'}}{{paper-icon "navigate-before" size=42}}{{/link-to}}
<div class="confirmation-wrapper">
  <div class="confirmation">
    <h1>Confirmed!</h1>
    <p>Rest Easy.<br/>We will notify you<br/>when your bill is ready</p>
  </div>
</div>